
<div class='container'>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @username.username%>
</p>
<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<% if @trades.blank? %>
	<h1>You haven't made any trades yet!</h1>
<% end %>


<%= render 'table' %>

 
 
<%= link_to 'Make Trade', "#{@portfolio.id}/trades/new" %>|
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
</div>
