<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>
<%= render "stocks/table" %>
 
 
<%= link_to 'Add Stock ', "#{@portfolio.id}/stocks/new" %>|
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
