<%= form_for(@portfolio_stock) do |f| %>
  <% if @portfolio_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_stock.errors.count, "error") %> prohibited this portfolio_stock from being saved:</h2>

      <ul>
      <% @portfolio_stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

    <%= @portfolio.inspect %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
