<%= form_for(@stock) do |f| %>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>

    <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

    <div class='field'>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>

    <div class="field">
    <%= f.label :buy %>
    <%= f.radio_button :buy , 'buy'  %>
    <%= f.label :sell %>
    <%= f.radio_button :sell, 'sell' %>
    </div>
<%= f.label 'Portfolio' %>
<%= f.select(:portfolio_id) do %>
<% portfolios_array = Portfolio.all.map { |portfolio| [portfolio.name, portfolio.id] } %>
<%= options_for_select(portfolios_array) %>
<% end %>
<%= f.label 'Sector' %>
<%= f.select(:sector_id) do %>
<% sectors_array = Sector.all.map { |sector| [sector.name, sector.id] } %>
<%= options_for_select(sectors_array) %>
  <% end %>





  <div class="actions">
  <br>
    <%= f.submit %>
  </div>
<% end %>
