<%= form_for(trade) do |f| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :portfolio_id, value: @portfolio.id %>
  <div class='field'>
    <%= f.label :ticker %>
    <%= f.text_field :ticker %>
  </div>
  <div class='field'>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
    <div class="field">
      <%= f.label :buy %>
      <%= f.radio_button :buy , 'buy'  %>
      <%= f.label :sell %>
      <%= f.radio_button :sell, 'sell' %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
