<!DOCTYPE html>
<html>
  <head>
    <title>Nasdaq</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='nav_container'>
  	<%= 
  		if session[:user]
  			link_to 'Log Out', '/logout', class:"logout_link"
  			link_to 'Portfolio', '/portfolios', class:"nav_link"
  		end
  	%>
    <ul>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/users">USERS</a></li>
      <li><a href="/stocks">STOCKS</a></li>
      <li><a href="/portfolios">PORTFOLIOS</a></li>
    </ul>
  	<%= 
  		if !session[:user]
        link_to 'Log In', '/login', class:"login_link"
      end
    %>
    <%= link_to 'Create', '/users/new', class:"create_link"%>
  </div>
    <%= yield %>
  </body>
</html>
